 body {
    background-color: #18F427;
 }
 
#map-canvas{
	margin: auto;
	margin-bottom:30px;
	width: 95%;
	height:750px; 
	text-align: middle;
	border: 4px dotted #006400;
}
		
.location{
	width: 32%;
	height: 100px; 
	vertical-align: middle;
	margin-left:35px;
	padding-bottom:10px;
	padding-top:10px;
	text-align: center;
	/*position:fixed;*/
	bottom: 100px;
	left:50px;
	background: rgba(111,245,158,0.61); /* Полупрозрачный цвет фона */
	border: 2px dotted #006400;
}
